{% extends "admin/bars.html.twig" %}


{% block contenpage %}
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h5>
                    {{ project_name | upper }}
                </h5>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            LISTA DE RECLAMACIONES</h2>
                        <ul class="nav navbar-right panel_toolbox">
{#                            <li>#}
{#                                <a href="{{ path('reclamacion_new') }}" class="btn btn-success">NUEVO</a>#}
{#                            </li>#}
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">

                            <table id="listaReclamaciones" class="display table table-striped table-bordered dataminetables">
                                <thead>
                                <th>N°</th>
                                    <th>Fecha</th>
                                    <th width="15%">Nombres</th>
                                    <th width="5%">Documento</th>
                                    <th width="5%">N° documento</th>
                                    <th width="5%">Bien/Servicio</th>
                                    <th width="20%">Descripcion</th>
                                    <th>Tipo</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </thead>
                                <tbody>
                                {% for reclamacion in reclamacions %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ reclamacion.fechaRegistro ? reclamacion.fechaRegistro|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>{{ reclamacion.NombreCompletoApellidosPrimero }}</td>
                                        <td>{{ reclamacion.tipoDocumento  | format_tipo_cliente }}</td>
                                        <td>{{ reclamacion.documento }}</td>
                                        <td>{{ reclamacion.bienContratado }}</td>
                                        <td>{{ reclamacion.descripcion }}</td>
                                        <td>{{ reclamacion.detalleReclamo }}</td>
                                        {% if reclamacion.estado == 1 %}
                                            <td>
                                                <h6> <span class="badge badge-success">RESPONDIDO</span></h6>
                                            </td>
                                            {% else %}
                                                <td>
                                                    <h6> <span class="badge badge-info">PENDIENTE</span></h6>
                                                </td>
                                        {% endif %}
                                        <td>
                                            <a class="btn btn-warning" href="{{ path('reclamacion_responder', {'id': reclamacion.id}) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <a class="btn btn-primary" href="{{ path('reclamacion_show', {'id': reclamacion.id}) }}">
                                                <i class="fa fa-eye"></i>
                                            </a>


{#                                            {%  if user.valid %}#}
{#                                                <a class="btn btn-success activate-link" href="{{ path('app_usuarios.change.valides', {'id': user.id}) }}">#}
{#                                                    <i class="fa fa-check"></i>#}
{#                                                </a>#}
{#                                            {% else %}#}
{#                                                <a class="btn btn-warning activate-link" href="{{ path('app_usuarios.change.valides', {'id': user.id}) }}">#}
{#                                                    <i class="fa fa-times"></i>#}
{#                                                </a>#}
{#                                            {% endif %}#}


                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}
    <script>

    </script>

{% endblock %}