{% extends 'admin/bars.html.twig' %}

{% block contenpage %}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h5><a href="{{ path('reclamacion_index')}}">Lista de reclamaciones</a> >> Ver reclamo </h5>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>RECLAMO VIRTUAL N° {{ reclamo.id }}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                   
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Datos Personales del reclamante</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-8">

                                <div  class="col-md-4">
                                   {{reclamo.tipoDocumento}}
                                   {{reclamo.documento}}
                                </div>
                                <div class="col-md-8">
                                   {{reclamo.nombres}}
                                    <div  class="col-md-6">
                                       {{reclamo.apellidoPaterno}}
                                    </div>
                                    <div class="col-md-6">
                                       {{reclamo.apellidoMaterno}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div  class="col-md-12">
                                   {{reclamo.email}}
                                </div>
                                <div class="col-md-12">
                                   {{reclamo.celular}}

                                </div>
                            </div>
                        </div>
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Identificación del bien o servicio contratado</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4">
                               {{reclamo.bienContratado}}
                            </div>
                            <div class="col-md-8">
                               {{reclamo.descripcion}}

                            </div>
                        </div>
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Detalle de la reclamación</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4">
                               {{reclamo.detalleReclamo}}
                            </div>
                            <div class="col-md-8">
                               {{reclamo.detalle}}


                            </div>

                        </div>
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Respuesta</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4">

                                {% if reclamo.estado == 1 %}
                                    <p>
                                        {{reclamo.respuesta}}
                                    </p>
                                {% else %}
                                        <h6> <span class="badge badge-info">PENDIENTE</span></h6>
                                {% endif %}
                            </div>
                        </div>
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Operador</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4">
                                {{ reclamo.supervisor.NombreCompletoApellidosPrimero | default("--") }}
                            </div>
                        </div>
                        <div class="x_content">
                            <div class="ln_solid"></div>
                            <div class="item form-group" style="float: right">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a class="btn btn-danger" href="{{ path('reclamacion_index')}}"><i class="fa fa-arrow-left"></i> REGRESAR</a>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}
{% block javascripts_footer %}
    {{ parent()}}
{% endblock %}