{% extends 'admin/bars.html.twig' %}

{% block contenpage %}
<div class="">
    <div class="page-title">
        <div class="title_left">
            <h5><a href="{{ path('setting_index') }}">Lista de settings</a> >> Nuevo settings </h5>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registrar nuevo favicon</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {{ form_start(form) }}
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Datos Favicon</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-12">

                                <div  class="col-md-4">
                                    {{ form_row(form.nombre_proyecto) }}
                                </div>
                                <div  class="col-md-4">
                                    {{ form_row(form.pagina_web) }}
                                </div>
                                <div  class="col-md-4">
                                    {{ form_row(form.favicon) }}
                                </div>
                            </div>

                        </div>
                        <div class="x_panel col-md-12">
                            <div class="x_title">
                                <h2>Logo</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.logo) }}
                            </div>


                        </div>

                        <div class="x_content">


                            <div class="ln_solid"></div>
                            <div class="item form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <a class="btn btn-warning" href="{{ path('setting_index') }}">Cancelar</a>
                                    <button type="submit" name="valider" class="btn btn-success">Crear</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
{#    <h1>Create new Setting</h1>#}

{#    {{ include('setting/_form.html.twig') }}#}

{#    <a href="{{ path('setting_index') }}">back to list</a>#}
{% endblock %}
{% block javascripts_footer %}
    {{ parent() }}

{% endblock %}
